*.pyc
*.pyo
*~
.DS_Store
.env
.vfenv
.venv
.Python
.foreman
.coverage
*.floo
*.sass-cache*
*.vagrant*
*.sublime-*
*.sqlite3*
*.sass-cache


/node_modules
/djangular/static/libraries
/public/*.js
npm-debug.log
