*.pyc
*.pyo
*~
.DS_Store
.env
.vfenv
.venv
.Python
.foreman
.coverage
*.floo
*.sass-cache*
*.vagrant*
*.sublime-*
*.sqlite3*
*.sass-cache


/node_modules
/djangular/static/libraries
npm-debug.log

/* Compiled Angular App */
djangular/static/js/app.js
djangular/static/js/services.js
djangular/static/js/controllers.js
djangular/static/js/directives.js
