{% load staticfiles %}
<!doctype html>
<html>
    <head>
        {% block head %}{% endblock %}
        <title>{% block title %}Django District Demo{% endblock %}</title>
        <link rel="stylesheet" href="{% static "libraries/bootstrap/dist/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
    </head>
    <body {% block body%} {% endblock %}>
        <div class="container">
            <div class="page-header">
                <h1>{% block header %}Demos{% endblock %}</h1>
                <p class="lead"><!-- PLACE TO PUT DEMOS --></p>
            </div>
            {% block content %}
            {% endblock %}
        </div>
        <script src="{% static "libraries/jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "libraries/bootstrap/dist/js/bootstrap.min.js" %}"></script>
        {% block javascript %}
        {% endblock %}
  </body>
</html>
